/*J'ai mis à côté de l'image le titre et les informations */
.album {
    display: flex;
    align-items: center;
}

/* J'ai commencé par centrer correctement les contrôles*/
.app-bottom .controls {
    display: flex;
    justify-content: space-around;
    align-content: baseline;


}

.app-bottom {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.app-bottom .current{
    display: flex;
    flex-grow: 1;
}

.app-wrapper .app-bottom{
    flex-grow: 1;
}
/* J'ai passé le time code sur le côté droit */
.track-item p+p {
    display: flex;
    justify-content: flex-end;
}

/* J'ai mis le time code et les titres sur la même ligne */
.track-item {
    display: flex;
    justify-content: space-between;
}

.app-wrapper .app-content .track-item{
    flex-grow: 1;
}

/* J'ai trouvé comment passer la div app-content en haut et à côté de la barre de nav. Grâce aux flex-grow j'ai pu retirer le jaune. */
.app-top {
    display: flex;
    flex-grow: 0;
}

.app-top .app-content{
    flex-grow: 1;
}

/* J'ai placé les éléments de la nav d'une façon qu'ils remplissent entièrement celle-ci.*/
.app-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

/* Ici, j'ai utilisé flex-grow afin de cacher app wrapper */
.app-wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

/* Ceci me sert à avoir la barre jaune entre le track-item et le app.bottom*/
.app-wrapper .app-top{
    flex-grow: 1;
}